
.wrapper {
    display: flex;
  flex-wrap: wrap;
  min-width:800px;
  max-height:800px;
  
}

#wrapper{
  display:flex;
 
}

.break {
    width: 100%;
  border: 0;
  height: 0;
  }

.block{
    border: 1px solid black;
    display:flex;
    flex-shrink:1;
    flex-grow:0;
    width:10px;
    height:10px;
    
   
}

.control{
  display:flex;
  flex-direction: column;
  margin:10px;
}

/*think about flex-box, experiment in code.pen