
* {
    box-sizing: border-box;
  }

.wrapper {
    display: flex;
  flex-wrap: wrap;
}

.break {
    width: 100%;
  border: 0;
  height: 0;
  }

.block{
    border: 1px solid black;
   height: 25px;
   width: 25px;
   
}

.block:hover{
    background-color: yellow;
}