
.wrapper {
    align-items: stretch;
    align-content: stretch;
    display: flex;
    flex-grow:1;
    justify-content: center;
    flex-wrap: wrap;
    justify-content:first baseline
}

.break {
    flex-basis: 100%;
    height: 0;
  }

div{
    display:flex;
    border: 1px solid black;
    flex-grow:1;
    align-items: stretch;
    align-content: stretch;
}